<footer class="bg-light d-flex flex-wrap p-5 justify-content-between ">

    <div>

            <h6>Our Locations :</h6>
            <h6>Hyderabad | Mumbai | Pune</h6>
            <h6>Delhi | Chennai | Bangalore</h6>

    </div>
    <div >

            <h6>Follow Us:</h6>
            <h6 > <i class="fab fa-instagram p-2"> </i> 
                <i class="fab fa-twitter p-2"> </i>
                <i class="fab fa-facebook p-2"></i>
        
             </h6>
            <h6>Contact : 040-24992679 </h6>

    </div>


</footer> 
