<div class="card ">

              <img src="https://thumbs-prod.si-cdn.com/vMk0NVAHvjoshXbyEGIzcyRb6kQ=/fit-in/1600x0/filters:focal(714x204:715x205)/https://public-media.si-cdn.com/filer/6e/76/6e76bb77-6bd8-4d90-8d13-ef9d3791eb17/00310801web.jpg" alt="">
               
              
              
              <div class="card-body ">
                  <p>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                  </p>
                  <div class="btn-group border rounded ">
                    <button class="btn btn-sm border-end border-dark btn-outline-secondary">view</button>
                    <button class="btn btn-sm border-dark btn-outline-secondary ">edit</button>
                   </div>
                 
               </div>

               

</div>
