<div class="card ">

              <img src={{productObj.productImage}}>

              <div class="card-body ">
                  <h5 class="card-title">{{productObj.productTitle}}
                  </h5>
                  <p class="card-text">{{productObj.description}} </p>
                  <div class="btn-group border rounded ">
                    <button class="btn btn-sm border-end border-dark btn-outline-secondary" (click)="sendProductDetailsToParent(productObj.productTitle)">view</button>
                    <button class="btn btn-sm border-dark btn-outline-secondary ">edit</button>
                   </div>
                 
               </div>

               

</div>
