<div class=" mt-5 mb-5 p-3" style="background-color:#efabaa;">
<table class="table text-center mt-5 mb-5 ">
    <thead>
        <tr style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
            <th>ID</th>
            <th>Email Id</th>
        </tr>
    </thead>

<tbody>
    <tr *ngFor="let postObj of users">
        <td style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
           <button class="btn btn-sm btn-warning p-3"  (click)="onSelectId(postObj.id)"> {{postObj.id}}</button>
        </td>
        <td style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">{{postObj.email}}</td>
    </tr>
</tbody>
</table>

</div>